<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <title>Document</title>
</head>
<body>

  <p>Product name:<%=productName%></p>
  <p>Product price:<%=productPrice%></p>
  
  <form action="/addToCart"><button>Add to Cart</button></form>
  
</body>
</html>