<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <title>Document</title>
</head>
<body>

  <form action="/addToCart" method="POST">
    <label>Product name:<%=productName%></label><br>
    <label>Product price:<%=productPrice%></label><br>
    <button>Add to Cart</button>
  </form>
  
</body>
</html>