<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Shopping Cart</p>
 
  <!-- 
    <ul>
    <% for(const product of shoppingCart){ %>
      <% if(product.name == "**", product.quantity ++; %>
      <li><%= product %> </li>
      <% } %> 
  </ul> 
-->
</body>
</html>