<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Shopping Cart</p>
 
  
    <ul>
   
      <table>
        <% for(let key in cart){ %>
          <tr>
             <td><%= cart[key].qty %></td>
             <td> <%= key %> </td>
            <td><%= cart[key].qty %></td>
           </tr>
            <% } %> 
      </table>
      
  </ul> 

</body>
</html>