<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <ul>
    
   <% for(let item in products){ %>  
      <li><a href="/product?prod=<%= item %> "><%= item %></a></li>
   <%  } %> 
    </ul>
  
</body>
</html>