<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><a href="/<%=redirect1%>"><%=product1%></a></li>
    <li><a href="/<%=redirect2%>"><%=product2%></a></li>
    </ul>
  
</body>
</html>