<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/result" method="POST">
    <label><%=label1%></label>
    <input type="text" name="res1"/>
    <label><%=label2%></label>
    <input type="text" name="res2"/>
    <button><%=submit%></button>
  </form>
  
</body>
</html>