form {
  margin: 20px;
}

label {
  font-size: 18px;
}
#email,
#password,
#url {
  width: 800px;
  height: 30px;
  border-color: lightgray;
  box-shadow: none;
  border-radius: 2px;
  margin-bottom: 10px;
}

#checkbox {
  margin: 10px;
}

#submit {
  background-color: blue;

  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15pt;
}
span {
  color: lightgray;
}
