body{
  background-image:url(images/background.png);
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin:0;
  padding:0;
}

.banner{
  text-align: center;
  background-image: url(images/bannerbg.png);
  background-repeat: repeat-x;
  height: 50px;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: Tahoma, Verdana,sans-serif;
  text-shadow: 3px 3px #999999;
}
