<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      
      <title>Document</title>
      <link rel="stylesheet" href="/css/<%= style %>" />
    </head>
    <body>
      <form action="/result" method="POST">
        <label>Name</label><input type="text" name="name" />
        <label>Age</label><input type="number" name="age" />
        <button>Submit Query</button>
      </form>
    </body>
  </html>