<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method='post'>
    key:<input type='text' name='key'></input>
    value:<input type='text' name='value'></input>
    <button type='submit'>Submit</button>
  </form>
</br>
   <table>
     <tr><td>Key</td><td>Value</td></tr>
    <% for(let key in cookies){ %>   
      <tr><td><%= key %> </td>
        <td><%= cookies[key] %> </td></tr>
    <%  } %>  
      
    </tr>
  </table> 
</body>
</html>